{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-console": 0,
    "max-len": [2, {
      "code": 200,
      "tabWidth": 2
    }],
    "semi": 2,
    "keyword-spacing": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-unused-vars": ["error", { "args": "none" }]
  }
}
